<% var stylesheets = [''] %>
<% include partials/header %>

<div id="app">
	<section id="content-left">
		content-left
	</section>
	<section id="content-right">
		content-right
	</section>
</div>

<% var scripts=[''] %>
<% include partials/footer %>
