@import '../../node_modules/foundation-sites/scss/foundation';
@import 'animations';
@import 'settings';
@include foundation-everything;

$circle-large-radius: rem-calc(150);
$circle-medium-radius: rem-calc(100);
$circle-small-radius: rem-calc(150);
$circle-margin: 0.5rem;
$circle-wiggle-time: 0.6s;

html, body, .wrapper, #app{
	height: 100%;
}

.wrapper{
	display: flex;
	justify-content: center;
	padding: 5rem;
}

#app{
	display:flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
	// width: 960px;
	width: 100%;
	#content-right{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items:center;
		padding: $circle-margin;
		max-width: 4*$circle-large-radius + 4*$circle-margin+1rem;
		position: relative;
		top: -$circle-margin - $circle-large-radius/2;
		@include breakpoint(medium only){
			top: -$circle-margin - $circle-medium-radius/2;
			max-width: 4*$circle-medium-radius + 4*$circle-margin+1rem;
		}
		@include breakpoint(small down){
			top: -$circle-margin - $circle-small-radius/2;
			max-width: 4*$circle-small-radius + 4*$circle-margin+1rem;
		}
	}
	#content-left{
		padding: 1rem;
		flex: 1 0 auto;
	}
	.circle-wrapper{
		border-radius: 50%;
		transition: all $circle-wiggle-time ease;
		box-shadow: 3px 3px 8px $medium-gray;
		margin: $circle-margin #{-$circle-margin}; 
		position:relative;
		.circle{
			position:relative;
			transition: all $circle-wiggle-time ease;
			border-radius: 50%;
			height: 2*$circle-large-radius;
			width: 2*$circle-large-radius;
			background-position: center;
			@include breakpoint(medium only){
				height: 2*$circle-medium-radius;
				width: 2*$circle-medium-radius;
			}
			@include breakpoint(small down){
				height: 2*$circle-small-radius;
				width: 2*$circle-small-radius;
			}
		}
		&:nth-child(even){
			top: $circle-large-radius + $circle-margin;
			@include breakpoint(medium only){
				top: $circle-medium-radius + $circle-margin;
			}
			@include breakpoint(small down){
				top: 0;
			}
			&:hover{
				margin-left: 1rem;
			}
		}
		&:nth-child(odd):hover{
			margin-right: 1rem;
		}
		&:hover{
			transform: scale(1.1);
			margin-bottom: 1rem;
			margin-top: 1rem;
			box-shadow: 2px 2px 8px $medium-gray;
		}
		&.circle-animated::after{
			top: 0;
			left: 0;
			background-color: $medium-gray;
			content: " ";
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 50%;
			animation: pulse 2s ease infinite;
			z-index: -99;
		}
	}
} 