@import '../../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@include foundation-everything;

$circle-radius: 100px;

#app{
	display:flex;
	.content{
		flex: 1 1 50%;
	}
	#content-right{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.circle{
		border-radius: 50%;
		background-color: red;
		height: 2*$circle-radius;
		width: 2*$circle-radius;
		background-position: center;
	}
} 